<div class="container">

    <div style="display: block; margin: auto; text-align: center; padding-top: 0vh">
    <div class="btn-group btn-group-sm" >
        <button type="button" class="btn btn-primary" style="width: 20vw; max-width: 550px" (click)="toggleTable()">Table</button>
        <button type="button" class="btn btn-success" style="width: 20vw; max-width: 550px" (click)="toggleMap()">Map</button>
    </div>
    </div>
    <br>


    <table class="table table-hover table-condensed" *ngIf="!showMap">
        <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Post code</th>
            <th>Address</th>
            <th>Start year</th>
        </tr>
        </thead>

        <tbody>

        <tr class="component-style restaurant-component"
            app-restaurant
            [openFromOutside]="openFromOutside"
            [restaurant]="restaurant"
            *ngFor="let restaurant of filteredRestaurants">
        </tr>
        </tbody>
    </table>


    <app-restaurant-map [filteredRestaurants]="filteredRestaurants" *ngIf="showMap"></app-restaurant-map>

</div>


