<div class="container">

    <form class="form-inline">
        <label for="name" class="mr-sm-2">Name:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="name" [(ngModel)]="inputName" name="inputName"
               (keyup)="filter()">

        <label for="postCode" class="mr-sm-2">Post code:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="postCode" [(ngModel)]="inputPostCode"
               name="inputPostCode" (keyup)="filter()">

        <label for="year" class="mr-sm-2">Year:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="year" [(ngModel)]="inputYear" name="inputYear"
               (keyup)="filter()">
        <button type="submit" class="btn btn-primary mb-2" (click)="reset()">Reset</button>
    </form>

    <div class="drop" style="width: 550px; height: 50px">
        <label for="city" class="mr-sm-2" style="float: left; margin-top: 10px; padding-right: 12px">City:</label>
        <div style="float: left; width: 450px">
            <ng-multiselect-dropdown
                    id="city"
                    [placeholder]="'select city'"
                    [data]="citiesData"
                    [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelect)="onDeSelect($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                    *ngIf="citiesData.length > 0"
            >
            </ng-multiselect-dropdown>
        </div>
    </div>
    <br>
    <div style="display: block; margin: auto; text-align: center; padding-top: 5vh">
    <div class="btn-group btn-group-sm" >
        <button type="button" class="btn btn-primary" style="width: 20vw; max-width: 550px" (click)="toggleTable()">Table</button>
        <button type="button" class="btn btn-success" style="width: 20vw; max-width: 550px" (click)="toggleMap()">Map</button>
    </div>
    </div>
    <br>


    <table class="table table-hover table-condensed" *ngIf="!showMap">
        <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Post code</th>
            <th>Address</th>
            <th>Start year</th>
        </tr>
        </thead>

        <tbody>

        <tr class="component-style restaurant-component"
            app-restaurant
            [restaurant]="restaurant"
            *ngFor="let restaurant of filteredRestaurants">
        </tr>
        </tbody>
    </table>


    <app-restaurant-map [filteredRestaurants]="filteredRestaurants" *ngIf="showMap"></app-restaurant-map>

</div>


