img {
    height: 220px;
}
#detailInfo {
    display: block;
    margin: auto;
}
#texta {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    padding-top: 50px;
}
#text {
    display: block;
    text-align: center;
    margin: auto;
}
#address {
    font-size: 1.5em;
}
#url {
    padding-top: 1vh;
    font-size: 1.2em;
}
#button {
    float: right;
}

agm-map {
    height: 300px;
    width: 50vw;
    margin: auto;
    display: block;
    padding-top: 1vh;
}

#imagesList {
    padding-top: 0vh;
    text-align: center;
    margin: 0;
}

#imagesList a {
    padding: 0;
    margin: 0;
}

#imagesList li {
    position: relative;
    display: inline-block;
    /*padding: 10px 10px;*/
    margin: 10px 10px;
    width: 20vh;
    min-width: 300px;

}

#imagesList img {
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.8), 3px 30px 80px 1px rgba(0, 0, 0, 0.8);
}

#imagesList li:hover {
    /*opacity: 0.4;*/
}